{% extends 'iris/base.html' %}

{% block content %}

<div>
  <a href="/iris" class="btn btn-info">Back</a>
</div>

<div>
  <canvas id="myChart"></canvas>
</div>
<div>
  <table class="table table-borderd table-hover table-responsive">
    <tr>
      <td>sepal length</td>
      <td>{{ object.sepal_length }}</td>
    </tr>
    <tr>
      <td>sepal width</td>
      <td>{{ object.sepal_width }}</td>
    </tr>
    <tr>
      <td>petal length</td>
      <td>{{ object.petal_length }}</td>
    </tr>
    <tr>
      <td>petal width</td>
      <td>{{ object.petal_width }}</td>
    </tr>
    <tr>
      <td>classified</td>
      <td>{{ object.classified }}</td>
    </tr>
    <tr>
      <td>probability</td>
      <td>{{ object.probability }}</td>
    </tr>
    <tr>
      <td>classified date</td>
      <td>{{ object.classified_date }}</td>
    </tr>
    <tr>
      <td>clf_hash(crc32)</td>
      <td>{{ object.clf_hash }}</td>
    </tr>
    <tr>
      <td>ID</td>
      <td>{{ object.id }}</td>
    </tr>
 </table>
</div>

<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: 'radar',
  data: {
    labels: ["sepal length", "sepal width", "petal length", "petal width"],
    datasets: [{
      label: '{{ iris.classified }}',
      backgroundColor: "rgba(153,255,51,0.4)",
      borderColor: "rgba(153,255,51,1)",
      data: [{{ iris.sepal_length }}, {{ iris.sepal_width }}, {{ iris.petal_length }}, {{ iris.petal_width}}]
    },]
  },
  options:{
    scale:{
      ticks:{
        beginAtZero:true,
        max:10,
        min:0
      }
    }
  }
});
</script>
{% endblock content %}
