{% extends 'iris/base.html' %}

{% block content %}
<div>
    <a class="btn btn-info" href="{% url 'iris_list' %}">Back</a>
<div> 
<div>
  <h1>classify iris</h1>
  <form action="{% url 'iris_classify' %} "method="POST" class="post-form">{% csrf_token %}
    <br>
    <table class="table">{{ form.as_table }}</table>
    <button type="submit" name="check" class="btn btn-primary">Check</button>
    <button type="submit" name="save" class="btn btn-primary">Save</button>
  </form>
</div>
{% endblock content %}
